Hello {{ first_name }},

Your personal user account has been created to access the HPC cluster.

I. Access to the login nodes
-----------------------------

The first step is to establish a VPN tunnel to the HPC infrastructure.

Your VPN username and password are:
  username: {{ username }}
{% if vpn_password %}
  VPN password: {{ vpn_password }}
{% endif %}

IMPORTANT: Please change your VPN password after the first successful
SSH login.

The second step is to log into the login node using your username:
  {{ username }}
and the SSH key registered for you.

II. Storage allocations
-----------------------

Personal home folder:
  {{ home_directory }}

Note that the home folder has limited capacity (~2 GiB). Do not store
anything large there.

III. Slurm project account
--------------------------

Use the assigned SLURM project account when submitting jobs.

Please let us know if you experience any issues accessing the cluster.

Best regards,
HPC Support Team
