repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
        exclude: helm/.*/templates/
      - id: trailing-whitespace
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    - id: ruff
      args: [--fix]
      files: \.py$        # only run on Python files
      exclude: ^(.*tests/|scripts/)

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.30
    hooks:
      - id: pymarkdown
        exclude: .github/|CHANGELOG|scripts/prompts/
        args: [-d, "MD046", "-s", "plugins.md013.code_block_line_length=$#120", "-s", "plugins.md013.heading_line_length=$#120", "-s", "plugins.md013.line_length=$#120", scan]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.18.2"
    hooks:
      - id: mypy
        name: "run mypy"
        exclude: ^(docs/plugin-template/|plugins/.*/tests/|ci/)
        additional_dependencies:
          - "types-requests"
          - "types-PyYaml"
