cpu: # Type of tres with possible 'gres/' prefix
  limit: 16000 # SLURM measured unit is CPU-minutes
  measured_unit: 'k-Hours' # Waldur measured unit for accounting
  accounting_type: usage # Can be usage or limit
  label: CPU # A label for a component in Waldur
mem:
  limit: 102400000 # SLURM measured unit is MB-h
  measured_unit: 'gb-Hours' # Waldur measured unit for accounting
  accounting_type: usage # Can be usage or limit
  label: RAM # A label for a component in Waldur
