offerings:
  - name: example-test-00
    waldur_api_url: https://waldur.example.com/api/
    waldur_api_token: 86c5cf7598383a36f894577faf225d0240844898
    waldur_offering_uuid: ede5752274dd9e038c920567851714c9
    backend_type: slurm
  - name: example-test-01
    waldur_api_url: https://waldur.example.com/api/
    waldur_api_token: e31090d0139cc0419142bbc7a14ee834a279b9ad
    waldur_offering_uuid: 19209c9e183639da9ca979c3e6fa6eba
    backend_type: slurm
