[Unit]
Description=Waldur SLURM integration service pulling data from Waldur instance to SLURM cluster

[Service]
User=root
Group=root
ExecStart=python3 -m waldur_site_agent.main
EnvironmentFile=/etc/waldur-site-agent/pull.env

[Install]
WantedBy=multi-user.target
