[Unit]
Description=Waldur site agent reporting usage to Waldur

[Service]
User=root
Group=root
ExecStart=python3 -m waldur_site_agent.main
EnvironmentFile=/etc/waldur-site-agent/agent-report.env
StandardOutput=append:/var/log/waldur-site-agent-report.log
StandardError=append:/var/log/waldur-site-agent-report-error.log

[Install]
WantedBy=multi-user.target
