sentry_dsn: "" # Data Source Name for Sentry (more info: https://docs.sentry.io/product/sentry-basics/dsn-explainer/).
offerings:
  - name: example-test-00
    waldur_api_url: http://localhost:8081/api/ # URL of Waldur Mastermind API (e.g. `http://localhost:8081/api/`).
    waldur_api_token: 9e1132b9616ebfe943ddf632ca32bbb7e1109a32 # Token for access to Mastermind API.
    waldur_offering_uuid: d629d5e45567425da9cdbdc1af67b32c # UUID of corresponding offering in Waldur.
    backend_type: "slurm"
    backend_settings:
      default_account: root # Default account name existing in SLURM cluster for creation of new accounts.
      customer_prefix: "hpc_" # Prefix used for customer's accounts.
      project_prefix: "hpc_" # Prefix used for project's accounts.
      allocation_prefix: "hpc_" # Prefix used for allocation's accounts.
      allocation_name_max_len: 34 # Maximum length of account name created by the application.
      enable_user_homedir_account_creation: true # Whether to create home directories for users related to accounts.
    backend_components:
      cpu: # Type of tres with possible 'gres/' prefix
        limit: 10 # Amount of measured units for Waldur (SLURM measured unit is CPU-minutes)
        measured_unit: 'k-Hours' # Waldur measured unit for accounting
        unit_factor: 60000 # Factor for conversion from measured unit to SLURM units (60 * 1000)
        accounting_type: limit # Can be usage or limit
        label: CPU # A label for a component in Waldur
      mem:
        limit: 10 # Amount of measured units for Waldur (SLURM measured unit is MB-minutes)
        measured_unit: 'gb-Hours' # Waldur measured unit for accounting
        unit_factor: 61440 # Unit factor for conversion from measured unit to SLURM units (60 * 1024)
        accounting_type: usage # Can be usage or limit
        label: RAM # A label for a component in Waldur
