[Unit]
Description=Waldur site agent syncing membership with Waldur

[Service]
User=root
Group=root
ExecStart=waldur_site_agent -m membership_sync -c /etc/waldur/waldur-site-agent-config.yaml

[Install]
WantedBy=multi-user.target
